body {
  font-family: "Arial", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: white;
}

button {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

button:hover {
  background-color: #005bb5;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  color: white;
}

nav ul li {
  margin: 0 10px;
  color: white;
}

nav ul li a {
  color: #0070f3;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
/* swap text to white to show on items page */
ul li {
  color: white;
}

p {
  color: white;
}
